body {
    scroll-behavior: smooth;
}

  .bgcolor{
  background-color:  #000000;
  color: aliceblue;
}

    .bgcolortext1{
    color: #b4b9cc;
     font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
    }

    .person-list {
      border: 1px solid #ffffff;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
  }
  
  .person-entry h5 {
      margin: 0;
  }
  
  .person-entry button {
      margin-top: 10px;
  }



  .table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 50px;
}

.table th,
.table td {
    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; /* Adiciona linha vertical entre as células */
    text-align: left;
}

.table th:first-child,
.table td:first-child {
    border-left: 1px solid #ddd; /* Adiciona linha vertical à esquerda das primeiras células */
}

.table th {
    font-weight: bold;
}

.table-responsive {
    overflow-x: auto;
    
}



a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background-color: #020479;
    padding-inline: 16px;
}

.nav {
    width: 100%;
    height: 110px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ddd;
    margin-left: 10%;
    font-size: 48px;
    font-weight: bold;
}

.nav-list{
    margin-right: 10%;
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url();
}


.box{
    height: 100vh;
    width: 100%;
}

.box1{
    background-color: #b4b9cc;
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2px; /* Ajuste conforme necessário */
    border-left: 10px solid #020479;
    border-right: 10px solid #020479;
    border-bottom: 10px solid #020479;
    border-top: 10px solid #020479;
    margin-top: 2%;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.521);

}

.btn-blue{
    background-color: rgba(255, 243, 228, 0);
    border: 1px solid rgb(38, 38, 38);
    color: #020479;
}

.btn-blue:hover{
    background-color: #020479;
    color:  rgb(222, 222, 222);
    border: 1px solid rgb(38, 38, 38);
}


.containerpai2{
    display: flex;
    width: 100%;
    height: 90vh;
}

.containersubfilho0{
    flex: 1;
    width: 98%;
    height: 100%;
    margin-left: 7%;
}

.containersubfilho1{
    flex: 1;
    width: 15%;
    height: 100%;
}

.containersubfilho2{
    flex: 1;
    width: 97%;
    height: 100%;
    margin-right: 7%;
    
}


.containertexto {
    display: flex;
    
    flex-direction: column;
    margin-bottom: 10%;
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
    height: 50%;
    width: 80%;
    padding-top: 20px;
    justify-content: left;
    align-items: center;
}

.h1 {
    color: #000000;
    font-size: 3vh;
    font-weight: bold;
    line-height: 1em;
    padding-left: 10%;
    margin: 0;
    margin-top: 10vh;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: left;
}

.h2{
    font-size: 2vh;
    color: rgb(90, 89, 89);
    margin-top: 8px;
    font-weight: 400;
    line-height: 1.3em;
    padding-left: 3%;
    margin: 0;
    margin-top: 1%; 
    display: flex;
    align-items: center;
    justify-content: left;
}

    .imgUm{    
        margin-left: 10%;
        margin-top: 10%;
        margin-right: 10%;
        float: left;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative; 
    }

    .imgUm .imgcontainer{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-image: url(" ");
        

    }

.footer{
    margin-top: 15% ;
    position: fixed;
    background-color: #020479;
    color: white;        
    text-align: center;
    padding: 20px;
    
}